@font-face {
	 font-family: Samim;
	 src: url('../fonts/samim/Samim-FD.eot');
	 src: url('../fonts/samim/Samim-FD.eot?#iefix') format('embedded-opentype'), url('../fonts/samim/Samim-FD.woff') format('woff'), url('../fonts/samim/Samim-FD.ttf') format('truetype');
	 font-weight: normal;
}
 @font-face {
	 font-family: Samim;
	 src: url('../fonts/samim/Samim-Bold-FD.eot');
	 src: url('../fonts/samim/Samim-Bold-FD.eot?#iefix') format('embedded-opentype'), url('../fonts/samim/Samim-Bold-FD.woff') format('woff'), url('../fonts/samim/Samim-Bold-FD.ttf') format('truetype');
	 font-weight: bold;
}
 html, body, p, h1, h2, h3, h4, h5, h6, ul, li {
	 padding: 0;
	 margin: 0;
}
 ul, li {
	 list-style: none;
}
 button {
	 outline: 0;
	 border: 0;
	 background-color: transparent;
}
 article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
	 display: block;
}
 body {
	 font-family: samim, sans-serif;
	 direction: rtl;
	 background-color: #333333;
	 color: #CCCCCC;
	 position: relative;
	 overflow-x: hidden;
	 font-size: 100%;
}
 body a {
	 color: #00ACED;
	 text-decoration: none;
	 -webkit-transition: color .3s;
	 -o-transition: color .3s;
	 transition: color .3s;
}
 body a:hover {
	 color: #0087ba;
	 text-decoration: none;
}
 body a:focus, body a:active {
	 color: #0074a1;
	 outline: 0;
	 text-decoration: none;
}
 nav.refad {
	 background-color: #1B1B1B;
	 height: 50px;
	 position: fixed;
	 top: 0;
	 right: 0;
	 width: 100%;
	 z-index: 1009;
}
 nav.refad .logo {
	 -webkit-transition: all .3s;
	 -o-transition: all .3s;
	 transition: all .3s;
	 width: 220px;
	 float: right;
	 text-align: center;
	 height: 50px;
}
 nav.refad .logo h1 {
	 font-size: 260%;
	 padding: 10px 0;
}
 nav.refad .logo h1 a {
	 color: #CCCCCC;
}
 nav.refad .logo h1 a:hover {
	 color: #b3b3b3;
}
 nav.refad .logo.minimize {
	 width: 0;
}
 @media (max-width: 680px) {
	 nav.refad .logo {
		 display: none;
	}
}
 nav.refad button {
	 height: 50px;
	 -webkit-transition: background .3s;
	 -o-transition: background .3s;
	 transition: background .3s;
}
 nav.refad button:hover {
	 background-color: #161616;
}
 nav.refad button.active {
	 background-color: #232323;
}
 nav.refad .asideToggle {
	 float: right;
	 font-size: 260%;
	 cursor: pointer;
	 width: 60px;
	 position: relative;
}
 nav.refad .asideToggle i {
	 right: 17px;
	 top: 10px;
	 position: absolute;
}
 nav.refad .asideToggle.active {
	 -webkit-transition: background .2s;
	 -o-transition: background .2s;
	 transition: background .2s;
	 background-color: #00ACED;
}
 nav.refad .asideToggle.active:hover {
	 background-color: #0099d4;
}
 @media (max-width: 680px) {
	 nav.refad .asideToggle {
		 display: none;
	}
}
 nav.refad .asideResponsive {
	 float: right;
	 font-size: 260%;
	 cursor: pointer;
	 width: 60px;
	 position: relative;
}
 nav.refad .asideResponsive i {
	 right: 17px;
	 top: 10px;
	 position: absolute;
}
 nav.refad .asideResponsive.active {
	 -webkit-transition: background .2s;
	 -o-transition: background .2s;
	 transition: background .2s;
	 background-color: #00ACED;
}
 nav.refad .asideResponsive.active:hover {
	 background-color: #0099d4;
}
 @media (min-width: 680px) {
	 nav.refad .asideResponsive {
		 display: none;
	}
}
 @media (max-width: 680px) {
	 nav.refad .asideResponsive {
		 display: block;
	}
}
 nav.refad .navProfile {
	 float: left;
	 border-right: 1px solid #232323;
	 font-size: 130%;
	 padding: 0 25px;
	 width: 180px;
	 position: relative;
}
 nav.refad .navProfile b {
	 margin-right: -8px;
}
 nav.refad .navProfile i {
	 position: absolute;
	 top: 18px;
	 left: 7px;
}
 nav.refad .navProfile span {
	 display: none;
	 font-size: 190%;
	 text-align: center;
}
 @media (max-width: 680px) {
	 nav.refad .navProfile {
		 width: 60px;
		 padding: 0;
	}
	 nav.refad .navProfile span {
		 display: block;
	}
	 nav.refad .navProfile b, nav.refad .navProfile i {
		 display: none;
	}
}
 @media (max-width: 400px) {
	 nav.refad .navProfile {
		 width: 45px;
	}
}
 nav.refad .navNotefic {
	 float: left;
	 border-right: 1px solid #232323;
	 font-size: 190%;
	 padding: 15px 18px;
	 position: relative;
	 width: 60px;
}
 nav.refad .navNotefic b {
	 position: absolute;
	 top: 7px;
	 right: 4px;
	 font-size: 60%;
	 background-color: rgba(53,53,53,0.9);
	 color: #cecece;
	 padding: 3px 6px 1px 6px;
	 -webkit-border-radius: 50px;
	 border-radius: 50px;
}
 @media (max-width: 400px) {
	 nav.refad .navNotefic {
		 width: 45px;
		 padding: 15px 0;
	}
	 nav.refad .navNotefic b {
		 display: none;
	}
}
 nav.refad .navProfileBox {
	 display: none;
	 background-color: #232323;
	 width: 180px;
	 position: absolute;
	 left: 0;
	 top: 50px;
	 -webkit-border-radius: 0 0 4px 4px;
	 border-radius: 0 0 4px 4px;
	 box-shadow: 0 8px 6px -6px black;
	 -webkit-box-shadow: 0 8px 6px -6px black;
}
 nav.refad .navProfileBox ul {
	 width: 100%;
	 display: block;
}
 nav.refad .navProfileBox ul li {
	 display: block;
	 width: 100%;
	 font-size: 125%;
	 border-top: 1px solid #202020;
}
 nav.refad .navProfileBox ul li a {
	 display: block;
	 position: relative;
	 color: #999999;
	 padding: 10px 12px;
	 -webkit-transition: all .3s;
	 -o-transition: all .3s;
	 transition: all .3s;
}
 nav.refad .navProfileBox ul li a:hover {
	 background-color: #1e1e1e;
}
 nav.refad .navProfileBox ul li a b {
	 margin-right: 8px;
	 font-weight: normal;
}
 @media (max-width: 680px) {
	 nav.refad .navProfileBox {
		 width: 100%;
	}
}
 nav.refad .navNoteficBox {
	 display: none;
	 background-color: #232323;
	 width: 330px;
	 position: absolute;
	 left: 180px;
	 top: 50px;
	 -webkit-border-radius: 0 0 4px 4px;
	 border-radius: 0 0 4px 4px;
	 min-height: 280px;
	 box-shadow: 0 8px 6px -6px black;
	 -webkit-box-shadow: 0 8px 6px -6px black;
}
 nav.refad .navNoteficBox header {
	 height: 40px;
	 border-bottom: 1px solid #252525;
	 color: #6b6b6b;
}
 nav.refad .navNoteficBox header .title {
	 float: right;
	 font-size: 130%;
	 padding: 12px 8px 0 0;
	 font-weight: bold;
}
 nav.refad .navNoteficBox header .control {
	 float: left;
	 font-size: 250%;
}
 nav.refad .navNoteficBox header .control a {
	 max-height: 20px;
	 color: #6b6b6b;
}
 nav.refad .navNoteficBox header .control a:hover {
	 color: #5e5e5e;
}
 nav.refad .navNoteficBox header .control a i {
	 display: inline-block;
	 margin: 5px 0 0 12px;
}
 nav.refad .navNoteficBox main {
	 height: 198px;
	 overflow-y: auto;
}
 nav.refad .navNoteficBox main p {
	 text-align: justify;
	 font-size: 130%;
}
 nav.refad .navNoteficBox main .NoteficItem {
	 display: block;
	 color: #CCCCCC;
	 border-bottom: 1px solid #333333;
	 position: relative;
	 padding: 4px 8px;
	 -webkit-transition: all .3s;
	 -o-transition: all .3s;
	 transition: all .3s;
}
 nav.refad .navNoteficBox main .NoteficItem b {
	 display: inline-block;
	 padding: 8px 3px;
	 font-family: 130%;
	 cursor: pointer;
}
 nav.refad .navNoteficBox main .NoteficItem time {
	 position: absolute;
	 left: 35px;
	 top: 13px;
	 display: none;
	 color: #999999;
}
 nav.refad .navNoteficBox main .NoteficItem i {
	 position: absolute;
	 left: 12px;
	 top: 10px;
	 height: 3px;
	 cursor: pointer;
	 font-size: 150%;
}
 nav.refad .navNoteficBox main .NoteficItem i.seen {
	 color: #4d4d4d;
}
 nav.refad .navNoteficBox main .NoteficItem:hover {
	 background-color: #1e1e1e;
}
 nav.refad .navNoteficBox main .NoteficItem:hover time {
	 display: block;
}
 nav.refad .navNoteficBox main .NoteficItem.seen {
	 color: #4d4d4d;
}
 nav.refad .navNoteficBox footer {
	 border-top: 1px solid #252525;
	 height: 40px;
}
 nav.refad .navNoteficBox footer a {
	 display: block;
	 width: 100%;
	 text-align: center;
	 color: #6b6b6b;
	 padding: 12px 0;
	 font-size: 120%;
	 -webkit-transition: all .3s;
	 -o-transition: all .3s;
	 transition: all .3s;
	 -webkit-border-radius: 0 0 4px 4px;
	 border-radius: 0 0 4px 4px;
}
 nav.refad .navNoteficBox footer a:hover {
	 background-color: #181818;
}
 @media (max-width: 680px) {
	 nav.refad .navNoteficBox {
		 width: 100%;
		 left: 0;
	}
}
 aside.refad {
	 background-color: #242424;
	 position: fixed;
	 height: 100%;
	 width: 220px;
	 top: 50px;
	 right: 0;
	 padding-bottom: 200px;
	 z-index: 1008;
	 -webkit-transition: width .3s;
	 -o-transition: width .3s;
	 transition: width .3s;
}
 aside.refad ul li {
	 display: block;
	 width: 100%;
	 font-size: 125%;
}
 aside.refad ul li.cateq > span {
	 color: #5b5b5b;
	 padding: 12px 20px;
	 display: block;
}
 aside.refad ul li a {
	 display: block;
	 position: relative;
	 color: #a7a7a7;
	 padding: 10px 20px;
	 -webkit-transition: all .3s;
	 -o-transition: all .3s;
	 transition: all .3s;
}
 aside.refad ul li a:hover {
	 background-color: #1f1f1f;
}
 aside.refad ul li a b {
	 margin-right: 8px;
	 font-weight: normal;
}
 aside.refad ul li a u {
	 font-size: 140%;
	 text-decoration: none;
	 position: absolute;
	 left: 10px;
	 top: 10px;
	 -webkit-transition: all .3s;
	 -o-transition: all .3s;
	 transition: all .3s;
}
 aside.refad ul li ul {
	 transition: opacity .8s ease-in-out;
	 opacity: 0;
	 height: 0;
	 overflow: hidden;
	 background-color: #1f1f1f;
}
 aside.refad ul li ul li {
	 font-size: 100% !important;
}
 aside.refad ul li ul li b {
	 margin-right: 24px !important;
	 -webkit-transition: color .3s;
	 -o-transition: color .3s;
	 transition: color .3s;
}
 aside.refad ul li ul li b:hover {
	 color: #ffffff;
}
 aside.refad ul li.open {
	 background-color: #1f1f1f;
}
 aside.refad ul li.open u {
	 -moz-transform: rotate(-90deg);
	 -webkit-transform: rotate(-90deg);
	 -o-transform: rotate(-90deg);
	 -ms-transform: rotate(-90deg);
	 transform: rotate(-90deg);
}
 aside.refad ul li.open ul {
	 visibility: visible;
	 opacity: 1;
	 height: auto;
}
 aside.refad ul li.active {
	 position: relative;
}
 aside.refad ul li.active:after {
	 font-family: 'icomoon';
	 content: '\e5c7';
	 position: absolute;
	 left: -14px;
	 top: -6px;
	 font-size: 260%;
	 color: #333333;
	 -moz-transform: rotate(90deg);
	 -webkit-transform: rotate(90deg);
	 -o-transform: rotate(90deg);
	 -ms-transform: rotate(90deg);
	 transform: rotate(90deg);
}
 aside.refad ul li.droper ~ .active:after {
	 content: '';
}
 aside.refad ul li.active > a {
	 color: #ffffff;
}
 aside.refad.minimize {
	 width: 60px !important;
}
 aside.refad.minimize ul li {
	 position: relative;
}
 aside.refad.minimize ul li i {
	 font-size: 160%;
}
 aside.refad.minimize ul li b {
	 display: none;
}
 aside.refad.minimize ul li u {
	 display: none;
}
 aside.refad.minimize ul li ul {
	 display: none;
}
 aside.refad.minimize ul li.cateq > span {
	 display: none;
}
 aside.refad.responsivize {
	 display: block;
	 position: fixed;
	 width: 100% !important;
	 right: 0;
	 -webkit-transition: width .3s;
	 -o-transition: width .3s;
	 transition: width .3s;
}
 aside.refad.responsivize b {
	 display: inline-block !important;
}
 aside.refad.responsivize u {
	 display: block !important;
}
 aside.refad.responsivize ul {
	 display: block !important;
}
 aside.refad.responsivize.cateq > span {
	 display: block !important;
}
 @media (max-width: 680px) {
	 aside.refad {
		 display: none;
	}
}
 main.refad {
	 margin-right: 220px;
	 margin-top: 65px;
	 -webkit-transition: all .3s;
	 -o-transition: all .3s;
	 transition: all .3s;
	 font-size: 140%;
	 padding: 4px 15px;
}
 main.refad.minimize {
	 margin-right: 60px !important;
}
 main.refad section {
	 background-color: #292929;
	 box-shadow: 0 8px 6px -6px #1f1f1f;
	 -webkit-box-shadow: 0 8px 6px -6px #1f1f1f;
}
 main.refad section header {
	 border-bottom: 1px solid #242424;
	 padding: 10px 0;
}
 main.refad section header .title {
	 width: 70%;
	 float: right;
}
 main.refad section header .title b {
	 margin-right: 10px;
}
 main.refad section header .control {
	 width: 30%;
	 float: left;
	 position: relative;
}
 main.refad section header .control i {
	 font-size: 160%;
	 cursor: pointer;
	 padding: 5px;
	 -webkit-border-radius: 50px;
	 border-radius: 50px;
	 -webkit-transition: background .3s;
	 -o-transition: background .3s;
	 transition: background .3s;
}
 main.refad section header .control i:hover, main.refad section header .control i.active {
	 background-color: #3d3d3d;
	 box-shadow: 0 8px 6px -6px #1f1f1f;
	 -webkit-box-shadow: 0 8px 6px -6px #1f1f1f;
}
 main.refad section header .control i.moreControl {
	 position: absolute;
	 top: -11px;
	 left: 3px;
}
 main.refad section header .control i.miniControl {
	 position: absolute;
	 top: -11px;
	 left: 35px;
	 -webkit-transition: all .3s;
	 -o-transition: all .3s;
	 transition: all .3s;
}
 main.refad section header .control i.miniControl.minimize {
	 -moz-transform: rotate(180deg);
	 -webkit-transform: rotate(180deg);
	 -o-transform: rotate(180deg);
	 -ms-transform: rotate(180deg);
	 transform: rotate(180deg);
}
 main.refad section header .control .controlbox {
	 display: none;
	 left: 0;
	 top: 31px;
	 z-index: 1005;
}
 main.refad section header .control .controlbox.moreControlbox {
	 box-shadow: 0 8px 6px -6px #1f1f1f;
	 -webkit-box-shadow: 0 8px 6px -6px #1f1f1f;
	 -webkit-transition: color .3s;
	 -o-transition: color .3s;
	 transition: color .3s;
	 -webkit-border-radius: 0 0 3px 3px;
	 border-radius: 0 0 3px 3px;
	 position: absolute;
	 width: 180px;
	 left: 0;
	 background-color: #3d3d3d;
}
 main.refad section header .control .controlbox button {
	 width: 100%;
	 display: block;
	 border-bottom: 1px solid #333333;
	 color: #c2c2c2;
	 text-align: right;
	 padding: 10px 10px;
	 -webkit-transition: color .3s;
	 -o-transition: color .3s;
	 transition: color .3s;
	 font-size: 90%;
}
 main.refad section header .control .controlbox button:last-of-type {
	 border-bottom: 0;
}
 main.refad section header .control .controlbox button:last-of-type:hover {
	 -webkit-border-radius: 0 0 3px 3px;
	 border-radius: 0 0 3px 3px;
}
 main.refad section header .control .controlbox button:hover {
	 background-color: #383838;
}
 main.refad section header:after {
	 display: block;
	 content: "";
	 clear: both;
}
 main.refad section article {
	 padding: 20px 10px;
}
 main.refad section article .refadminChart {
	 overflow: hidden;
}
 main.refad section article .refadminChart svg {
	 width: 100% !important;
}
 main.refad section article .refadminChart span {
	 font-size: 80%;
	 color: #dcdcdc !important;
}
 main.refad section article .refadminChart line.ct-grid {
	 stroke: #383838 !important;
}
 main.refad section article .refadminChart line.ct-bar, main.refad section article .refadminChart path.ct-line {
	 stroke: #00ACED !important;
}
 main.refad section article .refadminChart .ct-series-b line.ct-bar {
	 stroke: #e57d7d !important;
}
 main.refad section article .refadminChart .ct-series-c line.ct-bar {
	 stroke: #cbd486 !important;
}
 main.refad section article .refadminChart .ct-series-d line.ct-bar {
	 stroke: #7dbc86 !important;
}
 main.refad section article .refadminChart .ct-series-e line.ct-bar {
	 stroke: #5e618b !important;
}
 main.refad section article .refadminChart line.ct-point {
	 stroke: #0099d4 !important;
}
 main.refad section article .refadminChart .ct-series-b path.ct-line {
	 stroke: #e57d7d !important;
}
 main.refad section article .refadminChart .ct-series-b line.ct-point {
	 stroke: #e16868 !important;
}
 main.refad section article .refadminChart .ct-series-c path.ct-line {
	 stroke: #cbd486 !important;
}
 main.refad section article .refadminChart .ct-series-c line.ct-point {
	 stroke: #c3cd73 !important;
}
 main.refad section article .refadminChart span.ct-end {
	 direction: ltr;
}
 main.refad section footer {
	 border-top: 1px solid #242424;
	 padding: 6px 0;
	 color: #767676;
}
 main.refad section.widget {
	 padding: 8px;
	 margin-bottom: 15px;
	 -webkit-border-radius: 3px;
	 border-radius: 3px;
	 -webkit-transition: all .3s;
	 -o-transition: all .3s;
	 transition: all .3s;
}
 main.refad section.widget.minimize {
	 height: 50px;
}
 main.refad section.widget.minimize article {
	 display: none;
}
 main.refad section.widget.minimize footer {
	 display: none;
}
 @media (max-width: 680px) {
	 main.refad {
		 margin-right: 0 !important;
	}
	 main.refad.minimize {
		 margin-right: 0 !important;
	}
}
 article h1, article h2, article h3, article h4, article h5, article h6 {
	 font-weight: bold;
	 padding: 7px 0;
}
 article h1 {
	 font-size: 150%;
}
 article h2 {
	 font-size: 140%;
}
 article h3 {
	 font-size: 135%;
}
 article h4 {
	 font-size: 130%;
}
 article h5 {
	 font-size: 125%;
}
 article h6 {
	 font-size: 120%;
}
 article p {
	 text-align: justify;
	 line-height: 1.9;
	 margin-bottom: 8px;
	 font-weight: normal;
}
 article p:last-of-type {
	 margin-bottom: 0;
}
 article b {
	 font-weight: bolder;
}
 article u, article ins {
	 text-decoration: none;
	 border-bottom: 1px solid #5c5c5c;
}
 article abbr[title] {
	 text-decoration: none;
}
 article mark {
	 color: #f5f5f5;
	 background-color: rgba(0,172,237,0.9) !important;
}
 article address {
	 border-right: 2px solid #5c5c5c;
	 padding-right: 7px;
}
 article blockquote {
	 border-left: 0;
	 border-right: 5px solid #5c5c5c;
	 background-color: #242424;
	 color: #8f8f8f;
	 font-size: 130% !important;
	 -webkit-border-radius: 2px;
	 border-radius: 2px;
	 -webkit-transition: all .3s;
	 -o-transition: all .3s;
	 transition: all .3s;
}
 article blockquote:hover {
	 box-shadow: 0 8px 6px -6px #1c1c1c;
	 -webkit-box-shadow: 0 8px 6px -6px #1c1c1c;
}
 article blockquote footer {
	 color: #5c5c5c !important;
}
 article ul li {
	 list-style: disc !important;
	 list-style-position: inside !important;
	 margin-bottom: 5px;
}
 article ul li ul {
	 margin: 6px 20px 6px 0;
}
 article ol {
	 margin-right: 0;
	 padding: 0;
}
 article ol li {
	 list-style: decimal !important;
	 list-style-position: inside !important;
	 margin-bottom: 5px;
}
 article dl {
	 display: block;
	 margin: 20px;
}
 article dl dt {
	 float: right;
	 width: 15%;
}
 article dl dd {
	 float: left;
	 width: 80%;
	 color: #8f8f8f !important;
}
 article dl:after {
	 display: block;
	 content: "";
	 clear: both;
}
 article code, article pre {
	 background-color: #242424;
	 color: #00ACED;
}
 article pre {
	 border: 1px solid #212121;
	 direction: ltr;
}
 article samp {
	 display: block;
	 direction: ltr;
	 padding: 8px 8px 8px 15px;
	 -webkit-border-radius: 2px;
	 border-radius: 2px;
	 background-color: #3d3d3d;
}
 article table {
	 width: 100%;
	 box-shadow: 0 8px 6px -6px #1c1c1c;
	 -webkit-box-shadow: 0 8px 6px -6px #1c1c1c;
}
 article table th {
	 text-align: right;
	 background-color: #2e2e2e;
}
 article table th, article table td {
	 padding: 8px;
	 border: 1px solid #3d3d3d;
}
 